@tailwind base;
@tailwind components;
@tailwind utilities;


/* For all scrollable elements in your app */
.scrollable-content {
  overflow: hidden; /* Hide native scrollbar in Chrome, Safari, etc. */
  scrollbar-width: none; /* Hide scrollbar in Firefox */
  -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
}

.scrollable-content::-webkit-scrollbar {
  display: none; /* Hides scrollbar in WebKit-based browsers */
}


.glassmorphism-hover {
  transition: all 0.3s ease-in-out;
}

.glassmorphism-hover:hover {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 /* Change border color to color5 on hover */
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}




