@tailwind base;
@tailwind components;
@tailwind utilities;

.glassmorphism-hover {
  transition: all 0.3s ease-in-out;
}

.glassmorphism-hover:hover {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 /* Change border color to color5 on hover */
}


